version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: rust_auth_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2025
      POSTGRES_DB: rust_auth_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
